<section id="main-tutorial">


    <div class="main">
        <div class="slider">
            <div class="kk">
                <img src="images/tutorial/p1.png" />
            </div>
            <div class="kk">
                <img src="images/tutorial/p2.png" />
            </div>
            <div class="kk">
                <img src="images/tutorial/p3.png" />
            </div>
            <div class="kk">
                <img src="images/tutorial/p4.png" />
            </div>
        </div>
        <div class="tutorial">
            <button ng-click='gotohome()'>Skip Tutorial</button>
        </div>
    </div>


</section>