/* Import Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

.text-right {
    text-align: right;
}

/*@import utl(http: //fonts.googleapis.com/css?family=Droid+Sans);*/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.news_categoryType {
    /*  position: absolute;
  top: 2px;*/
    /*padding: 5px 3px 5px 5px;*/
    
    color: #fff;
    /*  background: #9b090c;*/
    
    font-size: 12px;
 /*   font-weight: bold;*/
    float: right;
}
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
      font-weight: bold;
    }
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
}
body {
    padding-top: 80px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    background: rgba(243, 243, 243, 0.7);
    /*font-family: 'Droid Sans', sans-serif;*/
    
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
}
a {
    color: #000;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.btn {
    font-weight: 400;
}
.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
a:hover,
a:focus {
    color: #d9534f;
    text-decoration: none;
    outline: none;
}
.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}
body.section {
    padding: 40px 0;
}
#logo {
    background: url(../images/news-yogi-logo.png) no-repeat center center;
    width: 205px;
    margin-top: 0px;
    margin-left: 5px;
    height: 65px;
}
.media_zee {
    /* background: url('../images/zee.png') no-repeat 0 0;
  */
    
    left: 0px;
    width: 32px;
    height: 32px;
}
.media_ndtv {
    left: 0px;
    width: 32px;
    height: 32px;
    /* background: url('../images/ndtv.png')no-repeat 0 0;
  */
}
/* Menu Colors */

.menu_india {
    background-color: #E85137;
}
.menu_world {
    background-color: #E49E1B;
}
.menu_business {
    background-color: #3CC275;
}
.menu_technology {
    background-color: #3D9BDC;
}
.menu_sports {
    background-color: #965DB1;
}
.menu_reviews {
    background-color: #D15C47;
}
.menu_entertainment {
    background-color: #42A5F5;
}
.menu_categories {
    background-color: #26A69A;
}
.menu_health {
    background-color: #DC143C;
}
.menu_travel {
    background-color: #87CEEB;
}
.menu_horoscope {
    background-color: #FA8072;
}
.menu_lifestyle {
    background-color: #5F9EA0;
}
.menu_categories:active {
    background-color: #26A69A;
}
/* font Color for menus 8 */

#font_city {
    color: #ff5252;
}
#font_india {
    color: #E85137;
}
#font_world {
    color: #E49E1B;
}
#font_buisness {
    color: #3CC275;
}
#font_technology {
    color: #3D9BDC;
}
#font_sports {
    color: #965DB1;
}
#font_reviews {
    color: #D15C47;
}
#font_entertainment {
    color: #42A5F5;
}
#font_categories {
    color: #26A69A;
}
#font_health {
    color: #DC143C;
}
#font_travel {
    color: #87CEEB;
}
#font_horoscope {
    color: #FA8072;
}
#font_horoscope {
    color: #5F9EA0;
}
/* Border colors */

.border_city {
    border: 2px solid #ff5252;
}
.border_india {
    border: 2px solid #E85137;
}
.border_world {
    border: 2px solid #E49E1B;
}
.border_business {
    border: 2px solid #3CC275;
}
.border_technology {
    border: 2px solid #3D9BDC;
}
.border_sports {
    border: 2px solid #965DB1;
}
.border_reviews {
    border: 2px solid #D15C47;
}
.border_entertainment {
    border: 2px solid #26A69A;
}
.border_categories {
    border: 2px solid #26A69A;
}
.border_health {
    border: 2px solid #DC143C;
}
.border_travel {
    border: 2px solid #87CEEB;
}
.border_horoscope {
    border: 2px solid #FA8072;
}
.panel-default > .panel-heading {
    padding: 2px;
    background-color: #D8EDF8;
}
.newscontent {
    padding: 10px;
    height: 80px;
    overflow: hidden;
}
/* carousel */

.carousel-example-generic {
    width: 100px;
    margin: 0px;
}
.pull-right {
    float: right;
}
.carousel img {
    width: 100%;
    height: 75%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.carousel {
    margin-bottom: 60px;
}
.carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
    margin-top: 10px;
}
.carousel-content {
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
}
#carousel-row {
    border: 1px solid #e8e8e8;
    margin: 0px;
    right: 2%;
    background-color:#FFF;
}
#main-slider .carousel h3 {
    font-size: 36px;
    color: #fff;
}
#main-slider .carousel p {
    color: #fff;
}
#main-slider .carousel .btn {
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 0;
    margin-top: 5px;
}
#backBtn {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
#category_title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    color: #fff;
}
#carousel-content {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 75%;
    margin: 0px;
    right: 0.75%;
}
footer {
    /*position: fixed;*/
    
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}
@media (max-width: 1154px) {
    .navbar {
        height: 70px;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 10px;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 10px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
        width: 100%;
        border-bottom: 2px solid #fff;
    }
}
/* Index Page CSS */

.news_click {
    /*margin-top: 10px;*/
}
.news_categoryType a {
    color: #fff;
}
.index_news_caption {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    left: 2px;
    right: 2px;
    width: auto;
    bottom: 2px;
    font-size: 9pt;
    color: #fff;
    line-height: 15px;
    /*max-height: 29px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.index_news_caption a {
    color: #fff;
    /*font-weight: bold;*/
}
.news_caption {
    color: #000;
}
.flex-col {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: left;
    display: block;
}
/* for upper news popover  comparision */

.comparenews {
    float: right;
    margin-right: 0px;
    background-color: #fff;
    z-index: 100;
}
.other_news {
    height: 8%;
    padding: 0px 0px;
    position: absolute;
    top: 0;
    right: 6.5%;
    top: 1%;
    width: 40px;
    float: right;
    z-index: 100;
    /* background-color: rgba(0, 0, 0, 0.5);
  */
}
.other_news i {
    float: right;
    font-size: 18px;
    padding-top: 10%;
}
.other_news ul {
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 100%;
    left: -120px;
    right: 0;
    background: #d9e3fa;
    border: 1px solid;
    border-color: #777 #6c6c6c #666;
    border-radius: 5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-transition-property: opacity, padding, visibility;
    -moz-transition-property: opacity, padding, visibility;
    -o-transition-property: opacity, padding, visibility;
    transition-property: opacity, padding, visibility;
    background-image: -webkit-linear-gradient(top, #eef3fe, #d9e3fa);
    background-image: -moz-linear-gradient(top, #eef3fe, #d9e3fa);
    background-image: -o-linear-gradient(top, #eef3fe, #d9e3fa);
    background-image: linear-gradient(to bottom, #eef3fe, #d9e3fa);
    bottom: 10px;
    min-width: 100%;
    padding: 5px !important;
}
.other_news ul:before,
.other_news ul:after,
.other_news li:first-child:after {
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    width: 0;
    height: 0;
    border: 7px outset transparent;
}
.other_news ul:before {
    bottom: -14px;
    border-top: 7px solid #555;
}
.other_news li:first-child:after {
    bottom: -13px;
    border-top: 7px solid white;
}
.other_news ul:after {
    bottom: -12px;
    border-top: 7px solid #d9e3fa;
}
.other_news li {
    padding: 0 12px;
    color: #838ca2;
    font-size: 11px;
    text-shadow: 0 1px white;
}
.other_news li a {
    display: block;
    position: relative;
    margin: 0 -13px;
    padding: 0 20px 0 12px;
    color: #313a4f;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
}
.other_news li a:hover {
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #5a70b0;
    border-color: #5a70b0 #495d98 #42558a;
    background-image: -webkit-linear-gradient(top, #7688bd, #4e64a3);
    background-image: -moz-linear-gradient(top, #7688bd, #4e64a3);
    background-image: -o-linear-gradient(top, #7688bd, #4e64a3);
    background-image: linear-gradient(to bottom, #7688bd, #4e64a3);
}
.other_news li a:hover:after {
    display: block;
}
.other_news li a:after {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -4px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #9facd1;
    border-left-color: rgba(255, 255, 255, 0.4);
}
#detail_heading {
    /*height: 100%;*/
    
    width: 100%;
}
.content-details {
    color: #000;
    font-weight: 500;
    /* ==========  Mobile First Method  ========== */
}
.news-title {
    float: left;
    color: #000;
    display: block !important;
    /*font-weight: bold;*/
}
#back_main {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.mainContent {
    margin-top: 10px;
}
#category_title {
    padding: 5px 0 0 0px;
    margin-left: 0px;
    color: #fff;
}
.imageTextBtn {
    display: block;
    position: absolute;
    width: 100%;
}
.imageTextBtn1 {
    display: block;
    top: 10px;
    position: absolute;
    width: 98%;
}
.backbtn {
    margin-left: 5px;
    width: 15%;
}
.imgbtn {
    margin-right: 20px;
    margin-top: 8px;
}
.imgbtn1 {
    margin-right: 10px;
}
.categoryInfo_bar {
    height: 40px;
    display: block;
}
/* Custom, iPhone Retina */

@media only screen and (min-device-width: 320px) {
    .flexslider .slides > li {
        /*max-height: 240px;*/
    }
    .menu-button {
        margin-top: 15px;
    }
    #media-links {
        margin-right: 15px;
    }
    .imageText {
        margin-left: -40px;
    }
    #back_main {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    #category_title {
        font-size: 16px;
        font-weight: bold;
        /*margin-left: 15px;*/
        
        color: #fff;
    }
    .col-xs-3 {
        width: 36%;
    }
    .panel {
        margin-left: 0px;
        overflow: hidden;
    }
    .panel-heading {
        height: 120px;
        overflow: hidden;
    }
    .thumb {
        /*margin: 10px 0px;*/
        /*padding: 0px 2% 0px 2%;*/
        
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 5px;
        overflow: hidden;
    }
    .panel-body .news_caption a{
        height: 86px;
    }
    .news_images,
    .news_images_home {
        z-index: -1;
        height: 120px;
        max-height: 120px;
        width: 100%;
        max-width: 320px;
    }
    /* index pages css */
    
    #categorynews_area {
       padding: 0 5px;
    }
    .news_categoryType {
        width: 100%;
        padding: 2px;
        text-align: center;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    .index_news_caption {
        width: 100%;
        padding: 5px;
        height: auto;
        /*margin-left: 1%;*/
        
        font-size: 9.5pt;
        /*bottom: 5%;*/
        
        min-height: 40px;
        max-height: 40px;
    }
    .index_breakingNews {
        text-align: left;
    }
    .news-title h4 {
        text-overflow: ellipsis;
        max-height: 135px;
        overflow: hidden;
    }
    .news-title {
        font-size: 13px;
    }
    /* category css */
    
    .other_news {
        width: auto;
        height: 10%;
        right: 12%;
    }
    .news_caption {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news_caption h6 {
        font-size: 10px;
        overflow: hidden;
    }
    /* detail page css */
    
    .detail-images {
        max-height: 200px;
        max-width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 360px) {
    /*.flexslider .slides > li {max-height:320px;}*/
    
    .panel-heading {
        height: 152px;
    }
    .news_images,
    .news_images_home {
        z-index: -1;
        height: 150px;
        max-height: 150px;
        width: 100%;
        max-width: 360px;
    }
    .panel-body .news_caption a{
        height: 72px;
    }
    /* index page css */
    
    .index_news_caption {
        width: 100%;
    }
    .news_categoryType {
        font-size: 12px;
        padding: 2px;
        text-align: center;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    /* category css */
    
    .other_news {
        width: auto;
        height: 10%;
        right: 10%;
    }
    #categorynews_area {
        /*margin-top: 30%;*/
        
        margin-right: 0 !important;
    }
    .news_caption h6 {
        font-size: 10px;
    }
    /* detail css */
    
    .detail-images {
        max-height: 200px;
        max-width: 100%;
        margin: 0 auto;
    }
}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    #categorynews_area {
        /*  margin-top: 25%;*/
    }
    .pos-abs {
        bottom: -10px !important;
    }
    .col-xs-3 {
        width: 25%;
    }
    .imageText {
        /*margin-left: 0px; */
        
        text-align: right;
        padding-right: 10px;
    }
    .thumb {
        /*margin: 10px 0px;
    padding: 0px 3% 0px 3%;*/
        
        padding: 0 5px 0 5px;
    }
    .dropdown-menu {
        margin-top: -1px;
        min-width: 120px;
    }
    .panel-heading {
        height: 202px;
    }
    .panel-body  .news_caption{
        height: 60px;
    }
    .news_images,
    .news_images_home {
        z-index: -1;
        height: 200px;
        max-height: 200px;
        width: 100%;
        max-width: 320px;
    }
    .news_categoryType {
        text-align: center;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    .index_news_caption {
        /*width: 86.5%;*/
        
        width: 100%;
        font-size: 9pt;
        /*bottom: 4%;*/
    }
    .detail-images {
        /*margin-left: 15%;*/
        
        margin: 0 auto;
        max-height: 200px;
        max-width: 100%;
    }
}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .flexslider .slides > li {
        /*max-height: 480px;*/
    }
    .panel-body {
        font-size: 16px;
    }
    .index_news_caption {
        /*width: 87.5%;*/
        
        width: 100%;
        font-size: 9pt;
        /*left: 4%;*/
    }
    .news_categoryType { 
        text-align: center;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    #detailContent_area {
        /*margin-top: 5%;*/
    }
    .other_news {
        width: auto;
        height: 8%;
        right: 6.5%;
    }
    .news-title {
        font-size: 16px;
    }
    .carousel img {
        max-height: 350px;
    }
    #carousel-content {
        border: 1px solid #ccc;
        background-color: #fff;
        height: 75%;
        margin: 0px;
        right: 0.75%;
    }
    .detail-images {
        max-height: 300px;
        /*margin-left: 20%;*/
        
        margin: 0 auto;
    }
    .panel-heading {
        height: 212px;
    }
    .news_images,
    .news_images_home {
        z-index: -1;
        max-height: 210px;
        width: 100%;
        max-width: 360px;
        height: 210px;
    }
    .panel-body .news_caption a{
        height: 70px;
    }
    .news_caption {
        font-size: 16px;
    }
}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .news_categoryType { 
        padding: 2px;
        text-align: center;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    .index_news_caption {
        /*width: 86%;*/
        
        width: 100%;
    }
    .news-title {
        font-size: 13px;
    }
    .other_news {
        width: auto;
        height: 8%;
        right: 8.5%;
    }
    .carousel img {
        max-height: 500px;
    }
    #carousel-content {
        border: 1px solid #ccc;
        background-color: #fff;
        height: 75%;
        margin: 0px;
        right: 0.75%;
    }
    .panel-heading {
        height: 212px;
    }
    .news_images,
    .news_images_home {
        z-index: -1;
        max-height: 210px;
        height: 230px;
        width: 100%;
        max-width: 360px;
    }
    .panel-body .news_caption a{
        height: 70px;
    }
    .news_caption h6 {
        font-size: 13px;
    }
    .detail-images {
        max-height: 300px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1600px) {
    .pgwSlider .ps-current img {
        height: auto;
        max-height: 500px;
    }
    .pgwSlider li p {
        font-size: 15px;
    }
    .pgwSlider li h4 {
        padding-top: 5px;
    }
    .news-title {
        font-size: 14px;
    }
    .other_news {
        width: auto;
        height: 8%;
        right: 6.5%;
    }
    .news_categoryType {
        padding: 2px;
        text-align: center;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    .detail-images {
        max-height: 270px;
        /*margin-left: 0px;*/
        
        margin: 0 auto;
    }
    .panel-heading {
        height: 252px;
    }
    .news_images,
    .news_images_home {
        z-index: -1;
        height: 250px;
        max-height: 250px;
        width: 100%;
        max-width: 360px;
    }
    .panel-body .news_caption a{
        height: 80px;
    }
    .news_caption h6 {
        font-size: 15px;
    }
}
#detail_content {
    height: 100%;
    font-size: 12pt;
}
.menu_city {
    background-color: #ff5252 !important;
}
.pos-abs {
    position: absolute;
    bottom: 0px;
    color: #fff;
    background: #666;
}
#newsContent_area .panel {
    margin-bottom: 10px;
}
.news_categories {
    font-size: 12px;
}
.nodata {
  text-align: center;
  font-weight: bold;
}
.panel-body {
    /*font-size: 12px;*/
    /*font-weight: bold;*/
}
.width100 {
    width: 100%
}
.detailPageTitle {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    /*padding: 0 5px 0 5px;*/
}
.categoryInfo_bar1 {
    background-color: white;
    margin-left: 0px;
    /*margin-top: -10px;*/
    height: 45px;
    padding-top: 8px;
    display: block;
    /*z-index: 100!important*/
}
#ngProgress-container {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
#navbar {
    height: auto;
    z-index: 10000!important;
    position: absolute;
    width: 88%;
    top: 54px;
    right: 0px;
    padding: 0px 5px;
    background: #fff;
    border: 1px solid rgb(181, 175, 175);
    box-shadow: inset 0px 0px 8px 0px rgb(150, 127, 127);
}
.news-para {
    font-size: 12px;
    padding: 2px;
}
.cat-para {
    font-size: 12px;
    line-height: 15px;
}
.textcenter {
    text-align: center;
}
.row {
    /*margin-top: 30%;*/
    
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#btnViewMore {
    padding: 10px 20px;
    clear: both;
}
/*iPhone 6 Portrait*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .col-xs-3 {
        width: 32%;
    }
    .imageText {
        margin-left: -30px;
        margin-top: 3px;
    }
}
/*@media only screen and (max-width: 480px) {
  .index_news_caption {font-size:12px;}
  .news_categoryType {font-size:14px;}
}*/

@media only screen and (min-width: 480px) {
    .index_news_caption {
        font-size: 14px;
    }
    .news_categoryType {
        font-size: 14px;
    }
    .news_categories_title{
      font-size: 12px;
      line-height: 1;
    }
    .flexslider .slides > li h4 {
        font-size: 14px;
    }
    .flexslider .slides > li {
       /* max-height: 240px;*/
    }
    /*.flexslider .slides > li {max-height:320px;}*/
}
@media only screen and (min-width: 550px) {
    .flexslider .slides > li {
        /*max-height: 280px;*/
    }
}
@media only screen and (min-width: 660px) {
    .flexslider .slides > li {
        /*max-height: 320px;*/
    }
}
@media only screen and (min-width: 740px) {
    .flexslider .slides > li {
       /* max-height: 400px;*/
    }
}
.refresh-button { 
    margin-top: 18px;
  float: right;
  max-width: 30px;
  margin-right: 10px; 
cursor: pointer;}

.image_categories {
      display: inline-block;
      background-color: #D8EDF8;
}
.btn-group .active,.btn-group .btn {box-shadw:none !important;bacground-image:none !important;}
.panel-body .news_caption a{
    display: block;
    line-height: 1.2;
    overflow: hidden;
}
.title-news-item{
    font-weight: bold;
    font-size: 9.5pt;
    margin-bottom: 0;
}
.slick-dots{
    /*position: relative;*/
    bottom: -54px;
}
.slick-dotted.slick-slider{
    margin-bottom: 54px;
}
.slick-dots li button:before{
    width: 11px;
    height: 11px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.5) ;
    opacity: 1 !important;
    content: '';
}
.slick-dots li.slick-active button:before{
    background-color: rgba(0, 0, 0, 0.9) ;
}
.slick-prev, .slick-next{
    width: 32px;
    height: 40px;
    z-index: 88;
}
.slick-prev{
    left: 8px;
}
.slick-next{
    right: 8px;
}
.slick-prev:before, .slick-next:before{
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: #000;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;

}
.slick-next:before{
    content: '\f002';
}
.slide-main {
    position: relative;
    overflow: hidden;
}
.slide-main .container-img-slide{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.slide-main .container-img-slide img{
    width: auto;
    display: inline-block;
    height: 100%;

}

.home-page .slide-main .container-img-slide{
/*    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;*/
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
.home-page .slide-main .bgImageContainer{
    background-image:url('http://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/01/06/Pictures/iraq_c07c12d4-d3de-11e6-a877-a82e4b02bda2.jpg'); 
    width: calc(100% + 10px);
    height: 100%;
    left: -5px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(5px);
    z-index:0;
    position:absolute;
    background-size: cover;
    background-position: 50%;
}

.home-page .slide-main .container-img-slide img{
/*    width: auto;
    display: inline-block;
    height: 100%;*/
    width: 100%;
    height: auto;
}


.response-img{
    width: 100%;
    padding-top: 64.72%;
}
.home-page .response-img{
    padding-top: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
.slide-main  h4 {
    font-size: 11pt;
    padding: 5px;
    width: 100%;
    min-height: 50px;
    line-height: 15px;
    font-weight: bold;
    margin-bottom: 0;
}
.index_news_caption{
    width:auto;
}
.share-btn {
    font-size: 15px;

}

.share-btn .social.social-fb{
    background-image: url("../images/ico/facebook.svg");
}
.share-btn .social.social-whatsapp{
    background-image: url("../images/ico/whatsapp.svg");
}
.share-btn .social{
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.list-btn-share{
    margin-left: -4px;
}
.panel-date{
    font-size: 9px;
}
.navigation-news .nav-button{
    position: fixed;
    display:table;
    padding-top: 3px;
    background-color: rgba(0,0,0,0.4);
    top: 50%;
    width: 150px;
    height: 150px;
    border-radius: 999px;
    transform: translate(0, -40%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navigation-news .nav-button.nav-next{
    right: -130px;
}
.navigation-news .nav-button.nav-prev{
    left: -130px;
}
.navigation-news .active.nav-button.nav-next{
    right: -75px;
}
.navigation-news .active.nav-button.nav-prev{
    left: -75px;
}
.nav-button.nav-prev:before, .nav-button.nav-next:before{
    font-family: "flexslider-icon";
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    content: '\f001';
    color: rgba(255,255,255,0.4);
}
.nav-button.nav-prev:before{
    padding-left: 87%;
}
.nav-button.nav-next:before{
    padding-right: 87%;
    content: '\f002';
}
.container-image{
    position: relative;
}
.container-image .overlay-videolink{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.2);
}
.container-image .overlay-videolink i {
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
}
.video-modal{
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    display: table;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
}
.center-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#ytplayer{
    display: inline-block;
}
.close-modal{
    position: absolute;
    top: 7px;
    right: 24px;
    font-size: 35px;
    color: #FFFFff;
}
#detail_heading{
    height: auto;
}
.resp-slick-slide{
    width: 100%;
    //padding-top: 64.72%;
    position: relative;
    height: 50vh;
}
.resp-slick-slide.text-mode {
    height: 25vh;
}
.resp-slick-slide.text-mode .news-title {
    height: 100% !important;
}

.resp-slick-slide.text-mode .news-title .news-para {
    font-size: 12pt;
}

.resp-slick-slide .slick-list {
    height: 100% !important;
}
.resp-slick-slide .slick-track {
    height: 100%;
}
.resp-slick-slide .slick-main{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
#categoryContent_area,#detailContent_area{
    padding-top: 32px;
}
.categoryInfo_bar1{
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 72px;
}
.share-btn-container{
    padding: 0 15px 0 0;
    text-align: right;
}
.share-toggle{
    color: #000;
    font-size: 25px;
    display: inline-block;
    padding: 0 9px;
}
.share-group{
    border-top:1px solid #000 ;
    position: fixed;
    padding-top: 20px;
    z-index: 1000;
    bottom: -100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFff;
}
.share-group.active{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFff;
}
.btn-group button{
    background-color: rgb(221, 221, 221);
    color: #000000;
}
.btn-group button.active{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.view-more-block {
    display: none;
}

.mode-minimize {
    height: calc(100vh - 112px);
    margin-bottom: 0;
    position: relative;

}
.mode-minimize .view-more-block {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 41px;

    -webkit-box-shadow: 0px -15px 25px 6px rgba(255,255,255,1);
    -moz-box-shadow: 0px -15px 25px 6px rgba(255,255,255,1);
    box-shadow: 0px -15px 25px 6px rgba(255,255,255,1);
}
.mode-minimize .view-more-block .more-icon {
    font-size: 25px;
    padding-top: 5px;
}

.mode-minimize .panel-date,
.mode-minimize hr {
    display: none;
}
